<!DOCTYPE html>
<html>

<head>
    <title>
        Password Reset
    </title>
</head>

<body style="margin: 0;
             padding: 0;">
    <table style="empty-cells: hide;
                  margin: 0 auto;
                  padding: 0;
                  width: 600px;">
        <tr>
            <td style="display: inline-flex;">
                <a href="https://realdev.in/">
                    <h1 style="background: url(https://i.ibb.co/HX1kgpv/index.png) center center no-repeat;
                               height: 100px;
                               width: 100px;
                               margin-top: 18%;
                               text-indent: -1000px">
                               &nbsp;
                    </h1>
                </a>
                <h3 
                style="box-sizing: border-box;
                       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                       letter-spacing: 0.5px;
                       line-height: 3.4;
                       font-size: 24px;
                       padding-left: 100px;
                       padding-right: 160px;">
                    Easy Collab
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                <h5
                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                       font-weight: normal;
                       font-size: 18px;">
                    Hi {{name}},
                </h5>
                <h5 style="font-weight: normal;
                           font-size: 18px;
                           line-height: 1.5;">
                    Your password has been successfully reset, you can now login to 
                    <span style="color: #eb596e;
                                 font-weight: bolder;">
                        Easy Collab
                    </span>
                     with your new password.
                </h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5 
                style="font-weight: normal;
                       font-size: 18px;
                       line-height: 2;
                       margin-top: -0.5%;">
                    Cheers,<br>The Real Dev Experience team
                </h5>
            </td>
        </tr>
        <tr>
            <td>
                <hr style="width: 70%;
                           margin-top: 2.5em;
                           margin-bottom: 2.5em;
                           color: #fcfcfc;
                           font-weight: normal;">
                <a href="https://twitter.com/realdevexp/"
                style="background: url(https://i.ibb.co/yFjSRqC/twitter.png) no-repeat;
                       height: 50px;
                       width: 50px;
                       display: inline-block;
                       margin-left: 185px;">
                </a>
                <a href="https://github.com/realdevexp/"
                style="background: url(https://i.ibb.co/BgRb38X/github.png) no-repeat;
                       height: 50px;
                       width: 50px;
                       display: inline-block;
                       margin-left: 25px;
                       margin-right: 25px;">
                </a>
                <a href="https://linkedin.com/company/realdevexp/"
                style="background: url(https://i.ibb.co/gdfRT7q/linkedin.png) no-repeat;
                       height: 50px;
                       width: 50px;
                       display: inline-block;">
                </a>
                <h6 style="color: darkgray;
                           text-align: center;
                           font-size: 14px;">
                    © 2021 Real Dev Experience
                </h6>
            </td>
        </tr>
    </table>
</body>

</html>